<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="reportPath" value="chrome"/>
		<!-- ... -->
		<add key="browser" value="chrome"/>
		<add key="mobileEmulationEnabled" value="Y"/>
		<add key="chromDriver" value="\drivers\"/>
		<add key="emulationDevice" value="iPhone X"/>
		<!-- ... -->
	</appSettings>
</configuration>